@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
/* box-sizing sets how the total width and height of an element is calculated */
/* border-box tells browser to account for border and padding
so if you set width to 100px, this will include border and padding */

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}
